* {
    transition: all 0.6s;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
            "nav nav"
            "qr-code draw"
            "queue draw"
            "score draw"
            "highscore draw";
    grid-template-rows: 40px 250px 1fr 2fr 2fr;
    grid-template-columns: 250px 1fr;
    font-family: 'Tahoma';
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    overflow: hidden;
    padding: 15px;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.draw {
    grid-area: draw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draw > .game-canvas {
    flex: 1 1;
    background-image: url('./img/onepoint.png');
    background-position: center 50%, center calc(50% - 40px);
    background-repeat: no-repeat;
}

.debug-game-state {
    opacity: 0.5;
    display: none;
}

.queue {
    grid-area: queue;
}

.score {
    grid-area: score;
}

.highscore {
    grid-area: highscore;
    color: #009EDF;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.qr-code {
    grid-area: qr-code;
}

.highscore-content, .score-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.score {
    font-size: 20px;
}

.score-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center
}

.queue-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;

    > p {
        border-radius: 10px;
        color: black;
        padding: 1px 5px;
    }
}

.awards {
    margin-left: auto;
    margin-right: 50px;
}

.remarkable {
    border-radius: 10px;
    padding: 5px;
    color: black;
}